@import '../../styles/variables.scss';

.wrapper {
  padding: 0 10px;
  height: 50px;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
}

.right {
  display: flex;
  align-items: center;
}

.logo_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-right: 10px;
}

.app_title {
  font-size: 20px;
  line-height: 1;
  color: white;
  margin-bottom: 0;
}
