@import '../../../../../styles/variables.scss';

.displayPanelTable {
  width: 330px;
  border: 1px solid #ddd;
  border-collapse: separate !important;
  border-radius: 4px;

  thead tr th {
    background-color: #96b2ff;
    color: $white;
    border-right: 1px solid #ddd;
    text-align: center;
    &:last-child {
      border-right: none;
    }
  }
  tbody tr td {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    &:last-child {
      border-right: none;
    }
  }

  tbody tr:last-child td {
    border-bottom: none;
  }
}

.displayPanelTableDisabled {
  thead tr th {
    background-color: #eee;
    color: #333;
  }
}

.dropdownWrapper {
  position: relative;
}

.dropdownHeader {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 16px;
  padding: 0 2px;
  border-radius: 8px;
  background: $btn-hover-color-color;
  color: $white;
  transform: all 0.3s;

  &:hover {
    background: $main-hover-color;
  }
}
.dropdownHeaderDisabled {
  cursor: not-allowed;
  background-color: #ddd;
  color: #fff;

  &:hover {
    background-color: #ddd;
    color: #fff;
  }
}
.dropdownHeaderLabel {
  font-size: 12px;
}
.dropdownIcon {
  display: inline-block;
  font-size: 12px;
  // transform: rotate(180deg);
  transition: all 0.3s;
}

.dropdownIconUp {
  // transform: rotate(-90deg);
}

.dropdownPanelWrapper {
  position: absolute;
  top: calc(100% + 3px);
  right: 0;
  width: 210px;
  z-index: 1;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
}
.dropdownItem {
  cursor: pointer;
  font-size: 10px;
  color: #333;
  padding: 3px 8px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #e8f0ff;
  }
}

.dropdownItemDisabled {
  cursor: not-allowed;
  color: #999;
  background-color: #eee;
  &:hover {
    background-color: #eee;
  }
}

.keypadWrapper {
  display: flex;
  align-items: center;
  margin-top: 13px;
}

.jogpadWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.jogpadCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.jogpadCol1 {
  width: 55px;
}
.jogpadCol2 {
  width: 55px;
}

.jogpadCol3 {
  width: 180px;
}

.jogpadColLabel {
  color: #333;
  margin-bottom: 6px;
}

.jogpadScaleWrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.jogpadScaleItem {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 24px;
  line-height: 24px;
  background-color: #e8f0ff;
  text-align: center;
  border-bottom: 1px solid #bfd2ff;
  transition: all 0.3s;

  &:hover {
    background-color: #bfd2ff;
  }

  &:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  &:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: none;
  }
}

.jogpadScaleItemActived {
  background-color: #bfd2ff;
}

.jogpadBtnsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jogpadBtn {
  cursor: pointer;
  background-color: #e8f0ff;
  color: $btn-hover-color-color;
  transition: all 0.3s;

  &:hover {
    background-color: #bfd2ff;
  }
}

.jogpadBtnTriangle {
  position: relative;

  &:hover .jogpadBtnTriangleBackground svg path {
    fill: #bfd2ff;
  }
}

.jogpadBtnTriangleBackground,
.jogpadBtnTriangleBackgroundLeft,
.jogpadBtnTriangleBackgroundRight,
.jogpadBtnTriangleBackgroundBottom {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;

  svg path {
    transition: all 0.3s;
  }
}

.jogpadBtnTriangleBackgroundLeft {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.jogpadBtnTriangleBackgroundRight {
  transform: translate(-50%, -50%) rotate(90deg);
}

.jogpadBtnTriangleBackgroundBottom {
  transform: translate(-50%, -50%) rotate(180deg);
}

.jogpadBtnTriangleLabel {
  padding: 3px;
}

.jogpadBtnCircle,
.jogpadBtnCircleBigger,
.jogpadBtnCircleBiggest {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.jogpadBtnCircle {
  width: 34px;
  height: 34px;
}

.jogpadBtnCircleBigger {
  width: 40px;
  height: 40px;
}

.jogpadBtnCircleBiggest {
  width: 44px;
  height: 44px;
}

.jogpadBtnIcon {
  display: inline-block;
  font-size: 18px;
}

.jogpadBtnIconLeftTop {
  display: inline-block;
  transform: rotate(-45deg);
}

.jogpadBtnIconRightTop {
  display: inline-block;
  transform: rotate(45deg);
}

.jogpadBtnIconLeftBottom {
  display: inline-block;
  transform: rotate(45deg);
}

.jogpadBtnIconRightBottom {
  display: inline-block;
  transform: rotate(-45deg);
}

.jogpadBtnDisabled {
  cursor: not-allowed;
  background-color: #ddd;
  color: #999;

  &:hover {
    background-color: #ddd;
    color: #999;
  }
}

.jogpadBtnDisabled .jogpadBtnTriangleBackground svg path {
  fill: #ddd;
}

.jogpadBtnDisabled:hover .jogpadBtnTriangleBackground svg path {
  fill: #ddd;
}

.customDistanceRow {
  margin-top: 12px;
  margin-left: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customDistanceRowLabel {
  color: #333;
  margin-left: 6px;
  margin-right: 15px;
}
.customDistanceRowInputGroup {
  display: flex;
}

.customDistanceRowInput {
  width: 60px;
  height: 20px;
  line-height: 20px;
  margin: 0 6px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  padding: 0 6px;

  &:focus {
    outline: none;
    border-color: $main-hover-color;
  }
}

.customDistanceRowInputDisabled {
  background-color: #eee;
  color: #999;
}
