@import '../../../../../../styles/variables.scss';

.label-wrapper {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
}

.label-icon-wrapper {
  cursor: pointer;
  margin-top: -2px;
  margin-right: 6px;
  display: flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #666;
  transition: all 0.3s;

  &:hover {
    background-color: $btn-hover-color-color;
  }
}

.label-icon {
  display: inline-block;
  transform: scale(0.6);
  color: #fff;
}

.z-block-wrapper {
}
.z-block-row {
  display: flex;
  padding: 0 40px;
  margin-bottom: 10px;
}
.z-block-item {
  display: flex;
  width: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:last-child {
    margin-right: 0;
  }
}
.z-block-item-text {
  margin-bottom: 0;
  margin-top: 0;
  color: $grey-color2;
  &:active {
    color: $dark-blue-color;
  }
}
.z-block-item-text-actived {
  margin-bottom: 0;
  margin-top: 0;
  color: $btn-hover-color-color;
}
.z-block-item-cube {
  width: 20px;
  height: 20px;
  background-color: $white-color;
  border-width: 1px;
  border-style: solid;
  border-color: $grey-color2;
  outline: 0;
  &:active {
    border-color: $dark-blue-color;
  }
}
.z-block-item-cube-actived {
  border-style: solid;
  border-color: $btn-hover-color-color;
  outline: 0;
}
.test-laser-instruction-content {
}
.test-laser-instruction-step-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.test-laser-instruction-step {
  position: relative;
  width: 280px;
}
.test-laser-instruction-step-text {
  margin-top: 17px;
}
.test-laser-instruction-step-indicator {
  position: absolute;
  top: -21px;
  left: 50%;
  transform: translate(-50%);
  display: inline-block;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  font-size: 18px;
  color: #fff;
  border-radius: 50%;
  background: rgba(25, 59, 222, 1);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.32);
}
