@import '../../../../styles/variables.scss';

.content-wrapper {
  padding: 30px 20px 20px;
  background-color: $white;
  border-radius: 0px 0px 20px 20px;
}

.macro-list-wrapper {
  max-height: 124px;
  overflow-y: auto;
}

/* width */
.macro-list-wrapper::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.macro-list-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.macro-list-wrapper::-webkit-scrollbar-thumb {
  background: #e8f0ff;
  border-radius: 3px;
}

/* Handle on hover */
.macro-list-wrapper::-webkit-scrollbar-thumb:hover {
  background: #bfd2ff;
}

.macro-list-item {
  display: flex;
  height: 31px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.macro-list-item:last-child {
  border-bottom: none;
}

.macro-list-item-run-btn,
.macro-list-item-edit-btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 50%;
  line-height: 16px;
  text-align: center;
  transition: all 0.3s;
}
.macro-list-item-run-btn {
  padding-left: 2px;
}
.macro-list-item-run-btn {
  border: 1px solid $btn-hover-color-color;
  color: $btn-hover-color-color;
  background-color: $white;

  &:hover {
    border-color: $main-hover-color;
    background-color: $main-hover-color;
    color: $white;
  }
}

.macro-list-item-edit-btn {
  border: 1px solid $btn-hover-color-color;
  color: $white;
  background-color: $btn-hover-color-color;

  &:hover {
    border-color: $main-hover-color;
    background-color: $main-hover-color;
  }
}

.macro-list-item-run-icon,
.macro-list-item-edit-icon {
  display: inline-block;
  font-size: 12px;
  transform: scale(0.6);
}

.macro-list-item-name {
  margin: 0 6px;
  flex: 1;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.no-macro-wrapper {
  color: #999;
  max-height: 186px;
  padding-left: 10px;
}

.divider {
  border-color: #ddd;
  margin: 12px -20px;
}

.modal-new-divider {
  border-color: #ddd;
  margin: 0;
}

.modal-new-content-wrapper {
  padding: 16px 30px;
}

.modal-new-content-input-label {
  margin-bottom: 10px;
  color: #333;
}
.modal-new-content-input {
  width: 100%;
  border-radius: 4px;
  transition: all 0.3s;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px;
  padding: 2px 10px;
  margin-bottom: 16px;

  &:focus {
    outline: none;
    border-color: $btn-hover-color-color;
  }
}
.modal-new-content-textarea {
  width: 100%;
  height: 107px;
  border-radius: 4px;
  transition: all 0.3s;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px;
  padding: 2px 10px;
  margin-bottom: 16px;

  &:focus {
    outline: none;
    border-color: $btn-hover-color-color;
  }
}

.modal-new-content-operator-row {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 20px 30px;
}

.modal-edit-content-operator-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 30px;
}

.modal-edit-content-operator-row-left {
}
.modal-edit-content-operator-row-right {
  display: flex;
}

.modal-del-macro-content-wrapper {
  display: flex;
  padding: 20px 30px;
}

.modal-del-macro-content-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #ffb000;
  color: $white;
  text-align: center;
  line-height: 28px;
  margin-right: 12px;
}
.modal-del-macro-content {
  flex: 1;
}

.modal-del-macro-operater-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
  padding-bottom: 30px;
}
