@import '../../../../styles/variables.scss';

.contentWrapper {
  background-color: $white;
}
.contentInnerWrapper {
  // max-height: calc(100vh - 455px);
  height: 480px;
  overflow-y: auto;
  overflow-x: hidden;
}
/* width */
.contentInnerWrapper::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.contentInnerWrapper::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.contentInnerWrapper::-webkit-scrollbar-thumb {
  background: #e8f0ff;
  border-radius: 3px;
}

/* Handle on hover */
.contentInnerWrapper::-webkit-scrollbar-thumb:hover {
  background: #bfd2ff;
}
