@import '../../../../styles/variables.scss';

.widgetHeader {
  position: relative;
}

.widgetHeaderAbsolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.widgetContent {
  position: relative;

  &.hidden {
    display: none;
  }
}

.widgetContentAbsolute {
  position: absolute;
  top: 34px;
  bottom: 0;
  left: 0;
  right: 0;

  &.hidden {
    display: none;
  }
}

.terminalContent {
  position: relative;
}

.terminalContentAbsolute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.minimizedWrapper {
  position: fixed;
  top: 40%;
  left: 30px;
  border-radius: 50%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.32);
}

.minimizedIcon {
  font-size: 22px !important;
}

.normalWrapper {
  position: fixed;
  top: 40%;
  left: 0;
  width: 350px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.normalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 12px;
  background-color: $white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.normalHeaderLabel {
}
.normalHeaderBtns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.normalHeaderBtnItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: 8px;
  border-radius: 50%;
  background-color: $sub-main-color;
  color: $btn-hover-color-color;
}
.normalHeaderBtnItemIcon {
  display: inline-block;
  font-size: 12px;
  transform: scale(0.8);
}

.strikethroughIcon {
  display: inline-block;
  transform: scale(0.6);
}
.normalContent {
  height: 330px;
}

.hide {
  display: none;
}

.maxWrapper {
  position: fixed;
  top: 108px;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #000;
  z-index: 600;
}

.maxContent {
  height: 600px;
}

.maximizedTernimalWrapper {
  height: calc(100vh - 108px);
}
