@import '../../../../styles/variables.scss';

.wrapper {
  position: relative;
  min-width: 130px;
}

.bar {
  cursor: pointer;
  z-index: 11;
  width: 100%;
  height: 30px;
  position: relative;
  background: $white;
  border-radius: 24px;
  padding: 7px 20px;
  transition: all 0.3s;
  border: 1px solid $gray-light;

  &:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.32);
  }
}

.barr {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
}

.label {
  cursor: pointer;
  display: inline-block;
  max-width: calc(100% - 26px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.contentWrapper {
  z-index: 10;
  position: absolute;
  top: 10px;
  min-height: 10px;
  width: 100%;
  background-color: $white;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
  opacity: 1;
  transition: height 0.3s, opacity 0.2s;
}

.contentWrapperPackup {
  display: none;
  opacity: 0;
  height: 0;
}

.faBtn {
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  right: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  transition: all 0.3s;
  background-color: $white;
  &:hover {
    opacity: 0.8;
  }
}

.faBtnIcon {
  display: inline-block;
  font-size: 12px;
  transform: scale(0.7);
}

.faBtnRotate {
  transform: rotate(180deg);
}

.wrapperDisabled {
  cursor: not-allowed;
  .bar:hover {
    cursor: not-allowed;
    box-shadow: none;
  }
  .label {
    cursor: not-allowed;
    color: #ddd;
  }
  .faBtn {
    cursor: not-allowed;
  }
  .faBtnIcon {
    color: #ddd;
  }
}
