.wrapper {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  padding: 0 30px 12px;
}
.content-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #f43321;
  color: #fff;
  text-align: center;
  line-height: 28px;
  font-style: normal !important;
  margin-right: 12px;
  margin-top: 10px;
}

.content-content {
  flex: 1;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
  padding-bottom: 30px;
}
