@import '../../../../../../styles/variables.scss';

.modalNewDivider {
  border-color: #ddd;
  margin: 0;
}

.modalNewContentWrapper {
  display: flex;
  align-items: center;
  padding: 42px 20px 16px;
}

.modalNewContentInputLabel {
  color: #333;
  margin-right: 10px;
}
.modalNewContentInput {
  width: 100%;
  border-radius: 4px;
  transition: all 0.3s;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px;
  padding: 2px 10px;

  &:focus {
    outline: none;
    border-color: $btn-hover-color-color;
  }
}

.modalNewContentOperatorRow {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 20px 30px;
}

.title {
  display: flex;
  align-items: center;
}

.titleIcon {
  display: inline-block;
  font-size: 22px !important;
  margin-right: 10px;
}
