@import '../../../../styles/variables.scss';

.contentWrapper {
  background-color: $white;
}

// separator without margin on top and bottom
.separator {
  display: block;
  margin: 10px 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid $border-color;

  &.separatorUnderline {
    margin: 0 0 10px;
  }
}

.connectionState {
  width: 100%;
  &.connectionStateName {
    font-size: $font-size-lead;
  }
  &.connectionStateIcon {
    float: right;
    font-size: $font-size-lead;
    margin-right: 12px;
    i {
      vertical-align: middle;
    }
  }
}

.connectionStateHead {
  vertical-align: middle;
  &.connectionStateHeadName {
    margin-left: 10px;
    color: $grey-color;
    vertical-align: middle;
  }
  &.connectionStateHeadIcon {
    i {
      font-size: $font-size-base;
      vertical-align: middle;
    }
  }
}

.portSelectRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.freshBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: $white;
  border: none;
  padding: 0;
  background-color: $primary-color;
  border-color: $primary-color;
}

.freshBtnIcon {
}

.freshBtnIconSpin {
  animation: iconSpin 2s ease-in infinite forwards;
}

@keyframes iconSpin {
  100% {
    transform: rotate(1turn);
  }
}
