@import '../../../../styles/variables.scss';

.icon-24 {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon-plus {
  background-image: url('./images/24x24/ic_plus_24x24.png');
}
.icon-tick {
  background-image: url('./images/24x24/ic_wifi_selected_straight.png');
}

.gcode-file {
  &:focus {
    outline: none;
    display: block;
    position: relative;
    margin-top: 6px;
    border: 1px solid #bfd2ff;
    // border-color: $grey-color2
    border-radius: $border-radius;
    height: 50px;
    padding: 3px 6px;
    transition: all 0.3s;
  }
  &:hover {
    border-color: #193bde;
  }

  &.selected {
    // border-color: #0B259F
    border-color: #0b259f;
    background-color: #e8f0ff;
    // background-image: url("../../../../images/24x24/ic_wifi_selected_straight.png")
    background-repeat: no-repeat;
    -webkit-background-size: 24px;
    background-size: 24px;
    background-position: 292px 24px;
  }
  &.gcode-file-remove {
    display: none;
    // background-image: url("../../../../images/24x24/ic_wifi_remove_straight.jpg")
    // background-color: transparent
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    right: -7px;
    top: -7px;
    border: none;
    transition: all 0.3s;
  }
  &.gcode-file-img {
    display: inline-block;
    height: 100%;
    width: 54px;
    vertical-align: top;
    margin-right: 6px;

    img {
      height: 100%;
      width: 54px;
    }
  }
  &.gcode-file-input-name {
    opacity: 0;
    position: absolute;
    &.haveOpacity {
      opacity: 1;
      z-index: 3;
    }
  }
  &.gcode-file-text {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
    white-space: nowrap;

    &.gcode-file-text-rename {
      display: inline-block;
      width: 100%;
    }
    &.gcode-file-text-name {
      opacity: 0;
      // position: absolute
      font-size: 14px;
      z-index: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      word-spacing: nowrap;

      &.haveOpacity {
        opacity: 1;
        z-index: 3;
      }
    }
    &.gcode-file-text-info {
      // position: absolute
      // bottom:0
      font-size: 12px;
      color: $grey-color;
      display: flex;
      justify-content: space-between;
      // vertical-align: bottom
      span {
        margin-right: 12px;
      }
    }
  }
}

.gcode-file.selected:hover,
.gcode-file-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.gcode-file:hover,
.gcode-file-rename {
  opacity: 1;
}

.gcode-file-remove-icon {
  font-size: 12px;
  color: #fff;
  transform: scale(0.8) rotate(-45deg);
}

.separator {
  display: block;
  margin: 10px 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid $border-color;

  &.separator-underline {
    margin: 0 0 10px;
  }
}

.content-wrapper {
  padding: 30px 10px 20px;
  background-color: $white;
  border-radius: 0px 0px 20px 20px;
}

.preview-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gcode-files-wrapper {
  max-height: 168px;
  padding: 0 10px;
  margin-left: -10px;
  margin-right: -10px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* width */
.gcode-files-wrapper::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.gcode-files-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.gcode-files-wrapper::-webkit-scrollbar-thumb {
  background: #e8f0ff;
  border-radius: 3px;
}

/* Handle on hover */
.gcode-files-wrapper::-webkit-scrollbar-thumb:hover {
  background: #bfd2ff;
}

.divider {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -20px;
  margin-right: -20px;
}
