@import '../../styles/variables.scss';

.workspace {
  .workspace_table {
    display: table;
    width: 100%;
    height: calc(100vh - $navbar-height);
  }

  .workspace_header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    min-width: 100%;
    // min-width: 1200px
    padding: 0 120px 0 5%;
    // background: $sub-main-color;
  }
  .workspace_table_row {
    // display: table-row;
    display: block;
  }

  .primary_container,
  .secondary_container,
  .primary_toggler,
  .secondary_toggler,
  .default_container {
    display: table-cell;
    position: relative;
  }
  .primary_container {
    border-right: 1px solid #ccc;
  }
  .secondary_container {
    border-left: 1px solid #ccc;
  }
  .primary_container {
    vertical-align: top;
    background-color: #f6f7f8;
    width: 360px;
    max-width: 360px;
    min-width: 360px;
    padding: 10px 6px 10px 6px;

    &.hidden {
      display: none;
    }

    .toolbar {
      margin-top: 5px;
      margin-bottom: 5px;
      &::after {
        content: ' ';
        display: block;
        visibility: hidden;
        height: 0;
        font-size: 0;
        clear: both;
      }
    }
  }
  .secondary_container {
    z-index: 20;
    vertical-align: top;
    background-color: #f6f7f8;
    width: 360px;
    max-width: 360px;
    min-width: 360px;
    padding: 10px 10px 10px 6px;

    &.hidden {
      display: none;
    }

    .toolbar {
      margin-top: 5px;
      margin-bottom: 5px;
      &::after {
        content: ' ';
        display: block;
        visibility: hidden;
        height: 0;
        font-size: 0;
        clear: both;
      }
    }
  }
  .primary_toggler,
  .secondary_toggler {
    z-index: 10;
    width: 12px;
    position: fixed;
    top: 50%;
    height: 30px;
    background: transparent;

    button {
      padding: 0 1px;
      border: 0;
      border-radius: 0;
      background: transparent;
      height: 30px;
      top: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
    }
  }
  .primary_toggler button {
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .secondary_toggler button {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  .default_container {
    min-width: 360px;

    &.fixed {
      position: fixed;
      left: 0px;
      right: 0px;
      top: $navbar-height + 48px;
      bottom: 0;
    }
  }
}
