@import '../../styles/variables.scss';

.wrapper {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
}
.left_row_wrapper {
  min-width: 340px;
  max-width: 340px;
  padding: 10px;
  overflow-y: auto;
  outline: 1px solid #ccc;
  z-index: 1;
  background-color: #f6f7f8;
}

.center_content_wrapper {
  position: relative;
  flex: 1;
}

.right_row_wrapper {
  min-width: 370px;
  max-width: 370px;
  padding: 10px;
  overflow-y: auto;
  outline: 1px solid #ccc;
  z-index: 1;
  background-color: #f6f7f8;
}

.left_row_wrapper::-webkit-scrollbar {
  width: 12px;
}

.left_row_wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

.left_row_wrapper::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.left_row_wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
