@import '../../../../styles/variables.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.unit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gray-light;
  padding: 2px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: rgba(136, 136, 136, 1);
}
